/* Try not to use POSITION unless absolutely needed... */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: antiquewhite; */
    height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient( to bottom, grey, white);
}

.main {
    margin: 0 auto;    /*this centers our container*/
    height: 700px;
    outline: 1px solid red;
    width: 1000px;
}

#cover-photo {
    width: 1000px;
    height: 500px;
    object-fit: cover;  /* Scales photos to not look stretched out */
}

.profile-pic, #thumbnail {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-pic {
    position: relative;
    bottom: 50px ;
    left: 50px;
}

#thumbnail {
    outline: 4px solid white;
}

.row {
    display: flex;
    align-items: center;

}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.info {
    margin-left: 60px;
    /* position: absolute;
    top: 0px;
    left: 0px; */
}

#news-feed {
    font-size: 16px;
}

.cookie-box {
    height: 100px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    position: fixed;
    bottom: 500px;
}