* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: lightcyan;
    border: 2px solid grey;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 20px;
    padding: 20px;

}

.card img {
    height: 128px;
    border-radius: 50%;
    margin-right: 40px;
}

.flex-1 {
    flex: 1;
}