h1, button, h2, div {
    border: 1px solid black;
}

h1, h2 {
    width: 200px;
}

button {
    /* height: 100px;
    width: 100px; */
    border-radius: 50%;
    box-shadow: 3px 3px 3px black;
    font-size: 30px;
    padding: 80px;
    text-align: center;
}

div {
    height: 200px;
    /* width: 200px; */
    background-color: bisque;
    overflow-y: scroll;
    border: 2px inset red;
    border-radius: 20px;
    padding: 20px 0px 30px 40px;
    margin: 100px;
}

#likeBtn {
    margin-right: 20px;
}

